body {
	background-color: #fff;
	font-family: Helvetica;
	padding-top: 1%;
	padding-right: 15%;
	padding-bottom: 1%;
	padding-left: 15%;
}

h1 {
	margin-left: 2px;
	color: #000;
 }
 
h2 {
   margin-left: 2px;
   color: #000;
 }
 
h3 {
  margin-left: 2px;
  color: #000;
 }
 
p {
  margin-left: 2px;
  color: #333;
 }
 
a { 
	margin-left: 2px;
	color: #0000EE;
 }
 
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }